# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
*.egg-info/
*.egg

# Virtual Environment
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/

# Build files
dist/
build/

# System files
.DS_Store
Thumbs.db

# Deploy files
.vercel
.netlify

# Database
db.sqlite3 